body {
    background: rgb(245, 156, 171);
    color: white;
    font: 15pt Arial;
}

header {
    text-align: center;
    font: 15pt Arial;
}

section {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}


#content {
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    color: black;
    font: 15pt Arial;
    height: 400px;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    padding: 10px;
    width: 300px;
}

#mold {
    background: black;
    margin: auto;
    margin-top: 30px;
    height: 250px;
    width: 290px;
}

#msn {
    font: 15pt Cursive;
}


#di {
    background: white;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    font: 30pt Arial;
    height: 100px;
    margin: auto;
    margin-left: 5px;
    width: 90px;
    
}

#di:hover{
    background: rgba(255, 224, 224, 0.555);
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    font: 30pt Arial;
    height: 90px;
    margin: auto;
    margin-left: 5px;
    width: 80px;
}

#es {
    background: white;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    font: 30pt Arial;
    height: 100px;
    margin: auto;
    margin-right: 5px;
    width: 90px;
}

#es:hover{
    background: rgba(255, 224, 224, 0.555);
    border: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    font: 30pt Arial;
    height: 90px;
    margin: auto;
    margin-left: 5px;
    width: 80px;
}

footer {
    text-align: center;
    margin-top: 50px ;
    
}